<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robodog">

<link name="body">
</link>

<link name="fr_leg">
</link>

<link name="fl_leg">
</link>

<link name="br_leg">
</link>

<link name="bl_leg">
</link>

<link name="fr_paw">
</link>

<link name="fl_paw">
</link>

<link name="br_paw">
</link>

<link name="bl_paw">
</link>

